footer.footer
	<svg preserveAspectRatio="none" width="1600" height="5" viewBox="0 0 1600 5" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 1C533.207 1.32663 1067.54 1.2121 1600 4" stroke="#7846C5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
	.mycontainer
		.footer-col
			.footer-col__title Хостинги
			.footer-col-wrap.active
				a.footer-col__link(href="#") Хостинг с тестовым периодом
				a.footer-col__link(href="#") Хостинг с кэшбеком
				a.footer-col__link(href="#") Виртуальный хостинг
				a.footer-col__link(href="#") Облачный хостинг
				a.footer-col__link(href="#") Безлимитный хостинг
				a.footer-col__all(href="#") Все хостинги
		.footer-col
			.footer-col__title Направление
			.footer-col-wrap
				a.footer-col__link(href="#") Интернет-магазин
				a.footer-col__link(href="#") Блог
				a.footer-col__link(href="#") Корпоративный сайт
				a.footer-col__link(href="#") Сайт-визитка
				a.footer-col__link(href="#") Сайт для взрослых
				a.footer-col__all(href="#") Все направления
		.footer-col
			.footer-col__title CMS
			.footer-col-wrap
				a.footer-col__link(href="#") 1С-Битрикс
				a.footer-col__link(href="#") WordPress
				a.footer-col__link(href="#") MODx
				a.footer-col__link(href="#") UMI.CMS
				a.footer-col__link(href="#") Joomla
				a.footer-col__all(href="#") Все CMS
		.footer-col
			.footer-col__title Страны
			.footer-col-wrap
				a.footer-col__link(href="#") Россия
				a.footer-col__link(href="#") Беларусь
				a.footer-col__link(href="#") США
				a.footer-col__link(href="#") Германия
				a.footer-col__link(href="#") Европа
				a.footer-col__all(href="#") Все страны
		.footer-col
			.footer-col__title Услуги
			.footer-col-wrap
				a.footer-col__link(href="#") Регистрация домена
				a.footer-col__link(href="#") Тестовый период
				a.footer-col__link(href="#") Конструктор сайтов
				a.footer-col__link(href="#") Домен в подарок
				a.footer-col__link(href="#") Анти-DDOS
				a.footer-col__all(href="#") Все услуги
		.footer-col
			.footer-col__title Разное
			.footer-col-wrap
				a.footer-col__link(href="#") Статьи экспертов
				a.footer-col__link(href="#") Спецпредложения
				a.footer-col__link(href="#") Правовая информация
				a.footer-col__link(href="#") Контакты
			.footer-col-socials
				a(href="#") 
					<svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M8.54617 9.26346H9.48802C9.48802 9.26346 9.77252 9.23223 9.91777 9.07565C10.0515 8.9319 10.0472 8.66195 10.0472 8.66195C10.0472 8.66195 10.0288 7.39816 10.6153 7.21205C11.1935 7.02873 11.936 8.43349 12.723 8.97361C13.3181 9.3824 13.7703 9.29277 13.7703 9.29277L15.8746 9.26346C15.8746 9.26346 16.9753 9.19565 16.4534 8.33017C16.4106 8.25936 16.1494 7.68993 14.8889 6.51984C13.5694 5.29519 13.7461 5.49328 15.3355 3.37491C16.3034 2.08481 16.6904 1.29719 16.5696 0.959853C16.4543 0.638558 15.7424 0.723481 15.7424 0.723481L13.3731 0.738241C13.3731 0.738241 13.1975 0.714282 13.0672 0.792146C12.9399 0.868512 12.858 1.04649 12.858 1.04649C12.858 1.04649 12.483 2.04481 11.9829 2.89383C10.9279 4.68533 10.506 4.77988 10.3336 4.66865C9.93253 4.40939 10.0326 3.62711 10.0326 3.07137C10.0326 1.33527 10.296 0.611392 9.51989 0.424005C9.26234 0.361757 9.07282 0.320686 8.41418 0.314055C7.56881 0.305284 6.85327 0.316621 6.44812 0.515131C6.1786 0.647115 5.97067 0.941243 6.09731 0.958142C6.25389 0.979105 6.60856 1.05376 6.79659 1.30981C7.03937 1.64009 7.03082 2.38194 7.03082 2.38194C7.03082 2.38194 7.17029 4.42564 6.70503 4.67956C6.38566 4.85368 5.94757 4.49816 5.007 2.87286C4.52506 2.04032 4.1612 1.12007 4.1612 1.12007C4.1612 1.12007 4.09103 0.948087 3.9659 0.856106C3.81402 0.744658 3.60182 0.709149 3.60182 0.709149L1.3504 0.723908C1.3504 0.723908 1.01242 0.733321 0.888353 0.880278C0.777975 1.01098 0.879582 1.28136 0.879582 1.28136C0.879582 1.28136 2.64221 5.40514 4.63801 7.48329C6.46802 9.3886 8.54617 9.26346 8.54617 9.26346Z" fill="#0361DC"/>
					</svg>
				a(href="#") 
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M6.23665 0.76161L6.50101 0.761669C8.6183 0.761669 8.86927 0.768984 9.70539 0.805442C10.4786 0.839401 10.8982 0.963404 11.1777 1.0676C11.5478 1.20558 11.8116 1.37056 12.089 1.63701C12.3666 1.90345 12.5384 2.15722 12.6825 2.51246C12.791 2.78051 12.9204 3.18333 12.9555 3.92556C12.9935 4.7281 13.0018 4.96915 13.0018 7.00078C13.0018 9.03246 12.9935 9.27351 12.9555 10.0761C12.9202 10.8183 12.791 11.2211 12.6825 11.4892C12.5387 11.8444 12.3666 12.0974 12.089 12.3637C11.8115 12.6301 11.5479 12.7951 11.1777 12.9331C10.8985 13.0377 10.4786 13.1614 9.70539 13.1953C8.8694 13.2319 8.6183 13.2398 6.50101 13.2398C4.38353 13.2398 4.13255 13.2319 3.29656 13.1953C2.52339 13.1611 2.10379 13.0371 1.82407 12.9329C1.45403 12.7949 1.18968 12.6299 0.912129 12.3635C0.634581 12.097 0.462786 11.8439 0.318684 11.4885C0.210143 11.2205 0.0807862 10.8176 0.0455971 10.0754C0.00762007 9.27292 0 9.03181 0 6.99887C0 4.966 0.00762007 4.7262 0.0455971 3.92366C0.0809721 3.18142 0.210143 2.77861 0.318684 2.51026C0.462415 2.15496 0.634581 1.90125 0.912129 1.6348C1.18968 1.36836 1.45403 1.20338 1.82407 1.0651C2.1036 0.960431 2.52339 0.836725 3.29656 0.802587C4.0281 0.770887 4.31166 0.761371 5.7896 0.759766V0.761669L6.01387 0.76155L6.2268 0.761606L6.23665 0.76161ZM9.78233 2.93895C9.78233 2.43443 10.2086 2.02573 10.734 2.02573C11.2593 2.02573 11.6856 2.43461 11.6856 2.93895C11.6856 3.44329 11.2593 3.85247 10.734 3.85247C10.2086 3.85247 9.78233 3.44329 9.78233 2.93895ZM6.50082 3.0931C4.25188 3.09316 2.42861 4.8436 2.42861 7.00256C2.42861 9.16158 4.252 10.9112 6.50101 10.9112C8.74995 10.9112 10.5727 9.16158 10.5727 7.00256C10.5727 4.84354 8.74983 3.0931 6.50082 3.0931Z" fill="#0361DC"/>
						<path d="M6.50088 4.46493C7.96067 4.46493 9.14422 5.601 9.14422 7.0025C9.14422 8.40388 7.96067 9.54007 6.50088 9.54007C5.04091 9.54007 3.85755 8.40388 3.85755 7.0025C3.85755 5.601 5.04091 4.46493 6.50088 4.46493Z" fill="#0361DC"/>
					</svg>
				a(href="#") 
					<svg width="8" height="17" viewBox="0 0 8 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.01724 8.47016H4.87599V16.3147H1.63181V8.47016H0.0888672V5.71327H1.63181V3.92925C1.63181 2.65348 2.23782 0.655762 4.90487 0.655762L7.30795 0.665815V3.34185H5.56436C5.27836 3.34185 4.8762 3.48474 4.8762 4.09332V5.71584H7.30068L7.01724 8.47016Z" fill="#0361DC"/>
					</svg>
			.footer-col__made Сделано в <a href="https://ra-studio.ru/">RA-Studio</a>