extends ../template

block variables
	- var title = 'CMS'

block content
	.main
		.mycontainer
			.main-top
				h1.main-top__title Хостинги для <span>1С-Битрикс</span>

		section.main-catalog.margin-block.wide-catalog
			.mycontainer
				
				.main-catalog-info
					.main-catalog-info-content
						.main-catalog-info-wrap
							.main-catalog-info__text Большинство хостингов из России и стран СНГ готовы предоставить всем желающим бесплатный тестовый период
							.main-catalog-info-items
								a.main-catalog-info-items-item(href="#")
									.main-catalog-info-items-item__img
										img(src="assets/images/catalog-info1.jpg", alt="")
									.main-catalog-info-items-item__title Beget,
									.main-catalog-info-items-item__text 30 дней
								a.main-catalog-info-items-item(href="#")
									.main-catalog-info-items-item__img
										img(src="assets/images/catalog-info2.jpg", alt="")
									.main-catalog-info-items-item__title Hostland,
									.main-catalog-info-items-item__text 30 дней
								a.main-catalog-info-items-item(href="#")
									.main-catalog-info-items-item__img
										img(src="assets/images/catalog-info3.jpg", alt="")
									.main-catalog-info-items-item__title Webhost1,
									.main-catalog-info-items-item__text 30 дней
							a.main-catalog-info__link(href="#")
								| 49 хостингов с тестовым периодом
								<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#0361DC"/>
								</svg>
						.main-catalog-info-wrap
							.main-catalog-info__text На некоторых тарифах вы можете подключать услуги по мере необходимости, такие тарифные планы называются «конструкторами»
							.main-catalog-info-items
								a.main-catalog-info-items-item(href="#")
									.main-catalog-info-items-item__img
										img(src="assets/images/catalog-info4.jpg", alt="")
									.main-catalog-info-items-item__title Макхост,
									.main-catalog-info-items-item__text от 129 руб.
								a.main-catalog-info-items-item(href="#")
									.main-catalog-info-items-item__img
										img(src="assets/images/catalog-info5.jpg", alt="")
									.main-catalog-info-items-item__title Джино,
									.main-catalog-info-items-item__text от 117 руб.
								a.main-catalog-info-items-item(href="#")
									.main-catalog-info-items-item__img
										img(src="assets/images/catalog-info6.jpg", alt="")
									.main-catalog-info-items-item__title Masterhost,
									.main-catalog-info-items-item__text от 130 руб.
							a.main-catalog-info__link(href="#")
								| 49 хостингов с конструктором тарифа
								<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#0361DC"/>
								</svg>
				
				.main-catalog-content-wrap
					.main-catalog-content
					
						.main-catalog-content-item-wrap.best-choice
							.main-catalog-content-item-title
								.main-catalog-content-item-title__num 1
								.main-catalog-content-item-title__name Beget
							a.main-catalog-content-item__link(href="#")
								| beget.ru
								<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#0361DC"/>
								</svg>
							.main-catalog-content-item
								.main-catalog-content-item-row
									.main-catalog-content-item-col
										.main-catalog-content-item__logo
											img(src="assets/images/hosting-logo.png", alt="")
										.main-catalog-content-item__rate
											<span>5.0</span>/5.0
										a.main-catalog-content-item__reviews.btn-background(href="#") По 109 отзывам
									.main-catalog-content-item-col
										.main-catalog-content-item-col-col
											.main-catalog-content-item__cashback
												img(src="assets/images/price-circle.svg", alt="")
												span От 190 руб.
											.main-catalog-content-item__info Тестовый период
											.main-catalog-content-item__info Страна:
											.main-catalog-content-item__info На рынке с:
											.main-catalog-content-item__info Техподдержка:
										.main-catalog-content-item-col-col
											.main-catalog-content-item__cashback
												img(src="assets/images/cashback-circle.svg", alt="")
												span Кэшбек 5%
											.main-catalog-content-item__info 30 дней
											.main-catalog-content-item__info Россия
											.main-catalog-content-item__info 2007 года
											.main-catalog-content-item__info Круглосуточная
									.main-catalog-content-item-col
										

								.main-catalog-content-item-row.tabs
									.main-catalog-content-item-navigation
										a.main-catalog-content-item-navigation__link.active(href="#") Хостинги
										a.main-catalog-content-item-navigation__link(href="#") VPS/VDS
										a.main-catalog-content-item-navigation__link(href="#") Выделенный сервер
										a.main-catalog-content-item-navigation__link(href="#") Домены
									.main-catalog-content-item-tab
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Панель упр.
											.main-catalog-content-item-tab-col__item Собственная
											.main-catalog-content-item-tab-col__item ISP Manager
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Администр.
											.main-catalog-content-item-tab-col__item Отсутствует
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Беспл. бэкап
											.main-catalog-content-item-tab-col__item Есть
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Беспл. SSL
											.main-catalog-content-item-tab-col__item Нет
											.main-catalog-content-item-tab-col__item ISP Manager
								.main-catalog-content-item-row.tariffs
									.main-catalog-content-item-tariff.header-row
										.main-catalog-content-item-tariff-col Тариф
										.main-catalog-content-item-tariff-col Процессор
										.main-catalog-content-item-tariff-col Ядра
										.main-catalog-content-item-tariff-col ОП
										.main-catalog-content-item-tariff-col SSD
										.main-catalog-content-item-tariff-col ОС
										.main-catalog-content-item-tariff-col Цена/мес.
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
								.main-catalog-content-item-row 
									a.main-catalog-content-item__next.btn-background(href="#") 
										| Посмотреть все тарифы
										<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#F5F6F7"/>
										</svg>
									a.main-catalog-content-item__fav.btn-background(href="#")
										<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 21V8.5" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M10.5 21V1" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M3 21V13.5" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
						
						.main-catalog-content-item-wrap.best-choice
							.main-catalog-content-item-title
								.main-catalog-content-item-title__num 1
								.main-catalog-content-item-title__name Beget
							a.main-catalog-content-item__link(href="#")
								| beget.ru
								<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#0361DC"/>
								</svg>
							.main-catalog-content-item
								.main-catalog-content-item-row
									.main-catalog-content-item-col
										.main-catalog-content-item__logo
											img(src="assets/images/hosting-logo.png", alt="")
										.main-catalog-content-item__rate
											<span>5.0</span>/5.0
										a.main-catalog-content-item__reviews.btn-background(href="#") По 109 отзывам
									.main-catalog-content-item-col
										.main-catalog-content-item-col-col
											.main-catalog-content-item__cashback
												img(src="assets/images/price-circle.svg", alt="")
												span От 190 руб.
											.main-catalog-content-item__info Тестовый период
											.main-catalog-content-item__info Страна:
											.main-catalog-content-item__info На рынке с:
											.main-catalog-content-item__info Техподдержка:
										.main-catalog-content-item-col-col
											.main-catalog-content-item__cashback
												img(src="assets/images/cashback-circle.svg", alt="")
												span Кэшбек 5%
											.main-catalog-content-item__info 30 дней
											.main-catalog-content-item__info Россия
											.main-catalog-content-item__info 2007 года
											.main-catalog-content-item__info Круглосуточная
									.main-catalog-content-item-col
										

								.main-catalog-content-item-row.tabs
									.main-catalog-content-item-navigation
										a.main-catalog-content-item-navigation__link.active(href="#") Хостинги
										a.main-catalog-content-item-navigation__link(href="#") VPS/VDS
										a.main-catalog-content-item-navigation__link(href="#") Выделенный сервер
										a.main-catalog-content-item-navigation__link(href="#") Домены
									.main-catalog-content-item-tab
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Панель упр.
											.main-catalog-content-item-tab-col__item Собственная
											.main-catalog-content-item-tab-col__item ISP Manager
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Администр.
											.main-catalog-content-item-tab-col__item Отсутствует
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Беспл. бэкап
											.main-catalog-content-item-tab-col__item Есть
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Беспл. SSL
											.main-catalog-content-item-tab-col__item Нет
											.main-catalog-content-item-tab-col__item ISP Manager
								.main-catalog-content-item-row.tariffs
									.main-catalog-content-item-tariff.header-row
										.main-catalog-content-item-tariff-col Тариф
										.main-catalog-content-item-tariff-col Процессор
										.main-catalog-content-item-tariff-col Ядра
										.main-catalog-content-item-tariff-col ОП
										.main-catalog-content-item-tariff-col SSD
										.main-catalog-content-item-tariff-col ОС
										.main-catalog-content-item-tariff-col Цена/мес.
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
								.main-catalog-content-item-row 
									a.main-catalog-content-item__next.btn-background(href="#") 
										| Посмотреть все тарифы
										<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#F5F6F7"/>
										</svg>
									a.main-catalog-content-item__fav.btn-background(href="#")
										<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 21V8.5" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M10.5 21V1" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M3 21V13.5" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
						
						.main-catalog-content-item-wrap
							.main-catalog-content-item-title
								.main-catalog-content-item-title__num 1
								.main-catalog-content-item-title__name Beget
							a.main-catalog-content-item__link(href="#")
								| beget.ru
								<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#0361DC"/>
								</svg>
							.main-catalog-content-item
								.main-catalog-content-item-row
									.main-catalog-content-item-col
										.main-catalog-content-item__logo
											img(src="assets/images/hosting-logo.png", alt="")
										.main-catalog-content-item__rate
											<span>5.0</span>/5.0
										a.main-catalog-content-item__reviews.btn-background(href="#") По 109 отзывам
									.main-catalog-content-item-col
										.main-catalog-content-item-col-col
											.main-catalog-content-item__cashback
												img(src="assets/images/price-circle.svg", alt="")
												span От 190 руб.
											.main-catalog-content-item__info Тестовый период
											.main-catalog-content-item__info Страна:
											.main-catalog-content-item__info На рынке с:
											.main-catalog-content-item__info Техподдержка:
										.main-catalog-content-item-col-col
											.main-catalog-content-item__cashback
												img(src="assets/images/cashback-circle.svg", alt="")
												span Кэшбек 5%
											.main-catalog-content-item__info 30 дней
											.main-catalog-content-item__info Россия
											.main-catalog-content-item__info 2007 года
											.main-catalog-content-item__info Круглосуточная
									.main-catalog-content-item-col
										

								.main-catalog-content-item-row.tabs
									.main-catalog-content-item-navigation
										a.main-catalog-content-item-navigation__link.active(href="#") Хостинги
										a.main-catalog-content-item-navigation__link(href="#") VPS/VDS
										a.main-catalog-content-item-navigation__link(href="#") Выделенный сервер
										a.main-catalog-content-item-navigation__link(href="#") Домены
									.main-catalog-content-item-tab
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Панель упр.
											.main-catalog-content-item-tab-col__item Собственная
											.main-catalog-content-item-tab-col__item ISP Manager
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Администр.
											.main-catalog-content-item-tab-col__item Отсутствует
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Беспл. бэкап
											.main-catalog-content-item-tab-col__item Есть
											.main-catalog-content-item-tab-col__item ISP Manager
										.main-catalog-content-item-tab-col
											.main-catalog-content-item-tab-col__title Беспл. SSL
											.main-catalog-content-item-tab-col__item Нет
											.main-catalog-content-item-tab-col__item ISP Manager
								.main-catalog-content-item-row.tariffs
									.main-catalog-content-item-tariff.header-row
										.main-catalog-content-item-tariff-col Тариф
										.main-catalog-content-item-tariff-col Процессор
										.main-catalog-content-item-tariff-col Ядра
										.main-catalog-content-item-tariff-col ОП
										.main-catalog-content-item-tariff-col SSD
										.main-catalog-content-item-tariff-col ОС
										.main-catalog-content-item-tariff-col Цена/мес.
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
									.main-catalog-content-item-tariff
										.main-catalog-content-item-tariff-col RD-30223
										.main-catalog-content-item-tariff-col Xeon E5506
										.main-catalog-content-item-tariff-col 4 × 2.13 ГГц
										.main-catalog-content-item-tariff-col 12 Гб
										.main-catalog-content-item-tariff-col 2 × 1 000 Гб
										.main-catalog-content-item-tariff-col 
											img(src="assets/images/OS1.png", alt="")
											img(src="assets/images/OS2.png", alt="")
											img(src="assets/images/OS3.png", alt="")
										.main-catalog-content-item-tariff-col 4 013 RUB <span>%</span>
								.main-catalog-content-item-row 
									a.main-catalog-content-item__next.btn-background(href="#") 
										| Посмотреть все тарифы
										<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#F5F6F7"/>
										</svg>
									a.main-catalog-content-item__fav.btn-background(href="#")
										<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M18 21V8.5" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M10.5 21V1" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M3 21V13.5" stroke="#F5F6F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
						
					.main-catalog-pagination
						a.main-catalog-pagination__page(href="#")
							<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.434315 6.56569C0.121895 6.25327 0.121895 5.74673 0.434315 5.43431L5.52548 0.343146C5.8379 0.0307264 6.34443 0.0307264 6.65685 0.343146C6.96927 0.655565 6.96927 1.1621 6.65685 1.47452L2.13137 6L6.65685 10.5255C6.96927 10.8379 6.96927 11.3444 6.65685 11.6569C6.34443 11.9693 5.8379 11.9693 5.52548 11.6569L0.434315 6.56569ZM17 6.8H1V5.2H17V6.8Z" fill="#0361DC"/>
							</svg>
						a.main-catalog-pagination__page(href="#")
							span 1
						a.main-catalog-pagination__page(href="#")
							span 2
						a.main-catalog-pagination__page.active(href="#")
							span 3
						.main-catalog-pagination__page
							span ...
						a.main-catalog-pagination__page(href="#")
							span 10
						a.main-catalog-pagination__page(href="#")
							<svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.5657 6.56569C16.8781 6.25327 16.8781 5.74673 16.5657 5.43431L11.4745 0.343146C11.1621 0.0307264 10.6556 0.0307264 10.3431 0.343146C10.0307 0.655565 10.0307 1.1621 10.3431 1.47452L14.8686 6L10.3431 10.5255C10.0307 10.8379 10.0307 11.3444 10.3431 11.6569C10.6556 11.9693 11.1621 11.9693 11.4745 11.6569L16.5657 6.56569ZM0 6.8H16V5.2H0V6.8Z" fill="#0361DC"/>
							</svg>

		section.main-seo.margin-block
			.mycontainer
				h2.main-seo__title Немного о хостингах для Битрикс
				.main-seo-cols
					.main-seo-cols__text 
						p Это уже вариант посложнее — его используют, если у вас много сайтов, их посещает много людей, и на виртуальном хостинге сайты уже тормозят. Тогда лучше брать виртуальный сервер — это автономная часть реального сервера на SSD-дисках, использующая часть его ресурса. У Бегета она работает через виртуализацию KVM. VPS Beget, конечно, дороже виртуального хостинга, но и вариантов для использования у него больше.
						p Самые мощные варианты для запуска собственных проектов. Цены хостинга Beget за мощности серверов соответствующие — 9800₽ за «слабую» сборку, и 48000₽ за «мощную».
						p Это уже вариант посложнее — его используют, если у вас много сайтов, их посещает много людей, и на виртуальном хостинге сайты уже тормозят. Тогда лучше брать виртуальный сервер — это автономная часть реального сервера на SSD-дисках, использующая часть его ресурса. У Бегета она работает через виртуализацию KVM. VPS Beget, конечно, дороже виртуального хостинга, но и вариантов для использования у него больше.
					.main-seo-cols__text 
						p Вам выделят немного места на одном из имеющихся серверов. Виртуальный хостинг рассчитан на минимальную мощность — такое нужно маленьким блогам и сайтам. Впрочем, эта услуга подойдёт, если у вас много небольших сайтов — на тарифе City вы сможете содержать 75 сайтов, а при тарифе Mega ограничения по количеству снимаются: вас ограничивает только память в 50ГБ на SSD.
						p Это уже вариант посложнее — его используют, если у вас много сайтов, их посещает много людей, и на виртуальном хостинге сайты уже тормозят. Тогда лучше брать виртуальный сервер — это автономная часть реального сервера на SSD-дисках, использующая часть его ресурса. У Бегета она работает через виртуализацию KVM. VPS Beget, конечно, дороже виртуального хостинга, но и вариантов для использования у него больше.
					

