.main{
	&-comments{
		overflow: hidden;
		padding-bottom: 15px;
		.mycontainer{
			display: flex;
			align-items: center;
		}
		&-info{
			flex: 0 0 460px;
			padding-right: 8%;
			position: relative;
			z-index: 2;
			&__title{
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				color: #000000;
				margin-bottom: 32px;
			}
			&__text{
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 40px;
			}
			&__btn{
				background: transparent;
				width: 190px;
				height: 40px;
			}
		}
		&-slider{
			max-width: calc(100% - 460px);
			overflow: visible;
			margin-left: 0;
			position: relative;
			cursor:  url('../images/cursor-drag.svg') 32 32, pointer!important;
			*{
				cursor:  url('../images/cursor-drag.svg') 32 32, pointer!important;
			}
			&:before{
				content: '';
				width: 100vw;
				height: 104%;
				position: absolute;
				right: 102%;
				top: 0;
				background: var(--bg-color);
				z-index: 2;
			}
			&-item{
				background: #FFFFFF;
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
				border-radius: 15px;
				padding: 16px 24px;
				width: 528px;
				&__date{
					font-size: 12px;
					line-height: 16px;
				}
				&-title{
					display: flex;
					align-items: center;
					margin-bottom: 16px;
					&__name{
						font-weight: bold;
						margin-right: 8px;
					}
					&__rate{
						width: 65px;
						height: 32px;
						background: url('../images/rate-circle.svg') center/contain no-repeat;
						font-size: 18px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
				&__text{
					color: #000000;
					margin-bottom: 24px;
				}
				&-bot{
					display: flex;
					&-col{
						flex: 1;
					}
					&-row{
						display: flex;
						align-items: flex-start;
						&+&{
							margin-top: 8px;
						}
					}
					&__plus,
					&__minus{
						width: 32px;
						height: 32px;
						margin-right: 8px;
						background: url('../images/plus.svg') center/contain no-repeat;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 22px;
					}
					&__plus{
						color: #00CC88;
					}
					&__minus{
						color: #E99928;
					}
					&__text{
						font-size: 12px;
						line-height: 16px;
						margin-top: 3px;
						margin-bottom: 8px;
					}
					&__title{
						line-height: 20px;
						flex: 1;
					}
					&__stars{
						width: 116px;
						height: 20px;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						&[data-rate="0"]{
							background-image: url('../images/rate0.svg');
						}
						&[data-rate="1"]{
							background-image: url('../images/rate1.svg');
						}
						&[data-rate="2"]{
							background-image: url('../images/rate2.svg');
						}
						&[data-rate="3"]{
							background-image: url('../images/rate3.svg');
						}
						&[data-rate="4"]{
							background-image: url('../images/rate4.svg');
						}
						&[data-rate="5"]{
							background-image: url('../images/rate5.svg');
						}
					}
				}
			}
		}
	}
	&-recommend{
		overflow: hidden;
		padding-bottom: 15px;
		&__title{
			font-weight: bold;
			font-size: 48px;
			line-height: 56px;
			color: #000000;
			margin-bottom: 64px;
		}
		&-slider{
			overflow: visible;
			cursor:  url('../images/cursor-drag.svg') 32 32, pointer!important;
			*{
				cursor:  url('../images/cursor-drag.svg') 32 32, pointer!important;
			}
			.main-catalog-content-item-wrap{
				width: 900px;
			}
		}
	}
}