.main{
	&-top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;
		margin-bottom: 77px;
		&__title{
			font-weight: 500;
			font-size: 64px;
			line-height: 72px;
			color: #000000;
			&::selection {
				background-color: rgba(255, 224, 87, 0.99);
				color: var(--sub-color);
			}	
			span{
				background: #FFE057;
				padding: 0 8px;
				color: var(--text-color);
				&::selection {
					background-color: rgba(255, 224, 87, 0.99);
					color: var(--sub-color);
				}			
			}
		}
		&-info{
			font-size: 12px;
			color: var(--sub-color)
		}
	}
	&-banner{
		padding: 70px 0;
		.mycontainer{
			display: flex;
			align-items: center;
		}
		&-info{
			&__title{
				font-weight: bold;
				font-size: 64px;
				line-height: 72px;
				margin-bottom: 40px;
				&::selection {
					background-color: rgba(255, 224, 87, 0.99);
					color: var(--sub-color);
				}	
				span{
					background: #FFE057;
					padding: 0 8px;
					&::selection {
						background-color: rgba(255, 224, 87, 0.99);
						color: var(--sub-color);
					}	
				}
			}
			&__text{
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 56px;
			}
			&__btn{
				width: 276px;
				height: 48px;
			}
		}
	}
	&-filter{
		margin-bottom: 80px;
		&.margin-block{
			margin-bottom: 160px;
		}
		.mycontainer{
			position: relative;
			> img{
				position: absolute;
				bottom: -50px;
				left: -20px;
			}
		}
		&-wrap{
			background: #FFFFFF;
			border-radius: 15px;
			padding: 32px 40px;
			box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: -12px;
				left: -24px ;
				width: calc(100% + 48px);
				height: 23px;
				background: url('../images/filter-img.svg') center/contain no-repeat;
			}
		}
		&-top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 40px;
			&__title{
				font-size: 20px;
				line-height: 24px;
			}
			&__btn{
				font-weight: bold;
				color: var(--sub-color);
				svg{
					margin-left: 8px;
				}
			}
		}
		&-content{
			&-row{
				display: flex;
				justify-content: space-between;
				&+&{
					margin-top: 32px;
				}
			}
			&-input{
				border: 1px solid #CCCCCC;
				border-radius: 5px;
				display: flex;
				padding: 7px 16px;
				width: calc(25% - 15px);
				white-space: nowrap;
				input{
					border: none;
					width: 100%;
					padding: 0 10px;
				}
				label{
					color: #606060;
				}
				span{
					color: #0D0D0D;
				}
				&.select-input{
					position: relative;
					cursor: pointer;
					&:before{
						content: '';
						width: 8px;
						height: 16px;
						background: url('../images/select-arr.svg') center/contain no-repeat;
						position: absolute;
						right: 16px;
						top: 50%;
						transform: translateY(-50%);
					}
					.select-input-items{
						position: absolute;
						background: #FFFFFF;
						box-shadow: 0px 2px 7px rgba(3, 97, 220, 0.2);
						border-radius: 4px;
						padding: 14px 0;
						top: calc(100% + 1px);
						left: 0;
						width: 100%;
						display: none;
						&.active{
							display: block;
						}
						&-item{
							cursor: pointer;
							padding: 2px 16px;
							transition: .1s;
							@include hover{
								&:hover{
									color: var(--sub-color);
								}
							}
						}
					}
				}
			}
			&-checkbox{
				cursor: pointer;
				display: flex;
				align-items: center;
				input{
					display: none;
					&:checked + span{
						border: 1px solid #0361DC;
						background: url('../images/check.svg') center no-repeat;
					}
				}
				span:first-of-type{
					border: 1px solid #CCCCCC;
					border-radius: 2px;
					width: 20px;
					height: 20px;
					margin-right: 8px;
				}
			}
		}
		&-bot{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 40px;
			&-btns{
				display: flex;
				align-items: center;
				&__more{
					color: var(--sub-color);
					margin-right: 40px;
				}
				&__clear{
					border: none;
					background: none;
					color: #606060;
				}
				*{
					display: flex;
					align-items: center;
					cursor: pointer;
					svg{
						margin-left: 8px;
					}
				}
			}
			&__btn{
				border: none;
				height: 48px;
				padding: 0 28px;
				cursor: pointer;
			}
		}
	}
	&-catalog{
		&.main-offers{
			background: var(--sub-color);
			padding: 80px 0;
			margin-top: 0;
			.main-catalog-content-item-title__num{
				color: #F5F6F7;
				background: url('../images/cashback-circle-white.svg') center/contain no-repeat;
			}
			.main-catalog-content-item-title__name{
				color: #F5F6F7;
			}
			.main-catalog-content-item__link{
				color: #F5F6F7;
			}
			.main-catalog-content-item__link svg path{
				fill: #F5F6F7;
			}
		}
		&-top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: #FFFFFF;
			margin-bottom: 56px;
			&__title{
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				span{
					position: relative;
					&:after{
						content: '';
						width: 114%;
						position: absolute;
						height: 95px;
						background: url(../images/offer-circle.svg) center/contain no-repeat;
						left: -14px;
						top: -19px;
					}
				}
			}
			&__btn{
				svg{
					margin-left: 8px;
				}
			}
		}
		&-content{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 80px 20px;
			&-item{
				padding: 0 24px;
				background: #FFFFFF;
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				position: relative;
				&-wrap.best-choice{
					.main-catalog-content-item:before{
						content: '';
						width: 81px;
						height: 81px;
						background: url('../images/best-choice.svg') center/contain no-repeat;
						position: absolute;
						right: -16px;
						top: -24px;
					}
				}
				&-row{
					display: flex;
					justify-content: space-between;
					padding: 16px 0;
					&+&{
						border-top: 1px solid #1D1D1D;
					}
					&:last-child{
						margin-top: auto;
					}
					&.tabs,
					&.tariffs{
						display: block;
					}
				}
				&-col{
					display: flex;
					flex-direction: column;
					&:nth-child(2){
						flex: 1;
						padding-left: 64px;
						flex-direction: row;
					}
					&-col{
						flex: 1;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						&:last-child{
							.main-catalog-content-item__info{
								color: var(--sub-color)
							}
						}
					}
				}
				&-title{
					display: flex;
					align-items: center;
					margin-bottom: 8px;
					&__num{
						width: 105px;
						height: 46px;
						font-family: 'Itim', cursive;
						font-size: 24px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: url('../images/cashback-circle.svg') center/contain no-repeat;
						margin-right: 13px;
						color: var(--sub-color)
					}
					&__name{
						font-size: 36px;
						line-height: 40px;
						font-family: 'Itim', cursive;
						color: #000000;
					}
				}
				&__rate{
					margin-top: auto;
					span{
						font-weight: bold;
						color: var(--sub-color);
					}
				}
				&__reviews{
					height: 32px;
					padding: 0 18px;
					margin-top: 15px;
					font-weight: normal;
					font-size: 12px;
				}
				&__cashback{
					margin-bottom: 8px;
					position: relative;
					align-self: flex-start;
					white-space: nowrap;
					span{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				&__info{
					&+&{
						margin-top: 8px;
					}
					span{
						color: var(--sub-color);
					}
				}
				&__logo{
					width: 90px;
					margin-bottom: 8px;
					img{
						max-width: 100%;
					}
				}
				&__link{
					font-weight: bold;
					margin-bottom: 24px;
					padding-left: 120px;
					svg{
						margin-left: 8px;
					}
				}
				&-navigation{
					display: flex;
					&__link{
						border: 1px solid #023352;
						border-radius: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 32px;
						padding: 0 16px;
						&.active{
							color: var(--sub-color);
							border: 1px solid #0361DC;
						}
						&+&{
							margin-left: 16px;
						}
					}
				}
				&-tab{
					display: flex;
					margin-top: 16px;
					&-col{
						margin-right: 64px;
						&__title{
							color: var(--sub-color);
						}
						&__item{
							font-size: 12px;
							line-height: 16px;
							margin-top: 8px;
						}
					}
				}
				&-tariff{
					display: flex;
					&.header-row{
						font-weight: bold;
						color: #000000;
					}
					&+&{
						margin-top: 12px;
					}
					&-col{
						flex: 1;
						font-size: 12px;
						line-height: 16px;
						display: flex;
						align-items: flex-start;
						&:first-child{
							font-weight: bold;
						}
						&:last-child{
							justify-content: flex-end;
						}
						img{
							margin-right: 14px;
							&:last-child{
								margin-right: 0;
							}
						}
						span{
							margin-left: 6px;
							color: #00CC88;
						}
					}
				}
				&__next{
					height: 40px;
					padding: 0 28px;
					width: max-content;
				}
				&__fav{
					width: 40px;
					height: 40px;
					border-radius: 5px;
					svg{
						margin-left: 0;
					}
				}
			}
		}
	}
	&-reviews{
		background: #fff;
		padding: 80px 0;
		.mycontainer{
			display: flex;
		}
		&-info{
			flex: 0 0 50%;
			&__title{
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				margin-bottom: 40px;
				max-width: 470px;
				span{
					display: block;
					color: var(--sub-color);
				}
			}
			&__btn{
				width: 182px;
				height: 48px;
			}
		}
		&-content{
			flex: 0 0 50%;
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			&__quote{
				font-size: 18px;
				line-height: 24px;
				max-width: 525px;
				position: relative;
				&:before{
					content: '“';
					font-family: 'Itim', cursive;
					font-size: 64px;
					color: var(--sub-color);
					position: absolute;
					top: -10px;
					left: -36px;
    			line-height: 52px;
				}
			}
			&-author{
				display: flex;
				align-items: center;
				margin-top: auto;
				&__img{
					width: 72px;
					height: 72px;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 20px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&-info{
					&__name{
						font-weight: bold;
						margin-bottom: -2px;
					}
					&__text,
					&__date{
						font-size: 15px;
						line-height: 130%;
						span{
							color: var(--sub-color);
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	&-adv{
		&__title{
			font-weight: bold;
			font-size: 36px;
			line-height: 48px;
			max-width: 800px;
			margin-bottom: 80px;
			span{
				color: #7846C5;
			}
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 116px;
			&-item{
				svg{
					margin-bottom: 24px;
				}
				&__title{
					font-weight: bold;
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 8px;
				}
				&__text{
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
	&-articles{
		&-top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 40px;
			&__title{
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
			}
			&__btn{
				height: 40px;
				padding: 0 28px;
			}
		}
		&-items{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 24px;
			&-item{
				background: #FFFFFF;
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
				border-radius: 15px;
				padding: 16px;
				display: flex;
				flex-direction: column;
				&__img{
					height: 154px;
					margin-bottom: 24px;
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
				&__text{
					font-size: 20px;
					line-height: 24px;
					margin-bottom: 16px;
				}
				&__btn{
					margin-top: auto;
					font-weight: bold;
					color: var(--sub-color);
					svg{
						margin-left: 8px;
					}
				}
			}
		}
	}
	&-quiz{
		&-top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 40px;
			&__title{
				font-weight: bold;
				font-size: 48px;
				line-height: 56px;
				margin-bottom: 16px;
			}
			&__text{
				font-size: 18px;
				line-height: 24px;
			}
			&__btn{
				height: 40px;
				padding: 0 28px;
			}
		}
		&-content{
			background: #FFFFFF;
			box-shadow: 0px 2px 7px rgba(3, 97, 220, 0.2);
			border-radius: 15px;
			overflow: hidden;
			padding: 50px 70px;
			display: flex;
			&-col{
				flex: 0 0 50%;
				display: flex;
				flex-direction: column;
				>img{
					margin: auto;
				}
				&-step{
					display: none;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					flex: 1;
					&.active{
						display: flex;
					}
					&-title{
						display: flex;
						align-items: center;
						margin-bottom: 40px;
						&__num{
							width: 34px;
							height: 34px;
							font-family: 'Itim', cursive;
							font-size: 24px;
							display: flex;
							align-items: center;
							justify-content: center;
							background: url('../images/title-num.svg') center/contain no-repeat;
							margin-right: 13px;
							color: var(--sub-color);
						}
						&__name{
							font-family: 'Itim', cursive;
							font-size: 28px;
							line-height: 32px;
						}
					}
					&-answers{
						padding-left: 72px;
						margin-bottom: 32px;
						label{
							display: flex;
							align-items: center;
							cursor: pointer;
							font-size: 18px;
							padding: 8px 0;
							input{
								display: none;
								&:checked + span{
									border: 1px solid #0361DC;
    							background: url('../images/check.svg') center no-repeat;
								}
							}
							span:first-of-type{
								border: 1px solid #CCCCCC;
								border-radius: 2px;
								width: 20px;
								height: 20px;
								margin-right: 8px;
							}
						}
					}
				}
				&-btns{
					display: flex;
					padding-left: 72px;
					&__prev,
					&__next{
						width: 132px;
						height: 48px;
					}
					&__prev{
						margin-right: 40px;
						svg{
							margin-left: 0;
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}

@include w1024{
	.main{
		&-banner{
			padding: 48px 0 64px;
			&-info{
				width: 672px;
				&__text{
					margin-bottom: 40px;
				}
			}
			&-img{
				width: calc(100% - 672px);
				img{
					max-width: 100%;
				}
			}
		}
		&-filter{
			&-top{
				margin-bottom: 24px;
			}
			&-content{
				&-row{
					flex-wrap: wrap;
					display: none;
					&:first-child{
						display: flex;
					}
				}
				&-input{
					width: calc(50% - 8px);
					&:nth-child(1),
					&:nth-child(2){
						margin-bottom: 16px;
					}
				}
			}
			&-bot{
				margin-top: 24px;
			}
		}
		&-catalog{
			&.main-offers{
				padding: 40px 0;
			}
			&-top{
				margin-bottom: 32px;
				&__title{
					font-size: 36px;
					line-height: 48px;
					span{
						&:after{
							left: -10px;
    					top: -25px;
						}
					}
				}
			}
			&-content{
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 40px;
			}
		}
		&-reviews{
			padding: 64px 0;
			margin-bottom: 80px;
			&-info{
				&__title{
					font-size: 36px;
					line-height: 48px;
				}
			}
		}
		&-adv{
			&__title{
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 64px;
			}
		}
		&-articles{
			&-top{
				&__title{
					font-size: 36px;
					line-height: 48px;
				}
			}
			&-items{
				grid-template-columns: repeat(2, 1fr);
			}
		}
		&-quiz{
			&-top{
				&__title{
					font-size: 36px;
					line-height: 48px;
				}
			}
			&-content{
				padding: 40px 24px;
				&-col{
					&-step{
						&-answers{
							padding-left: 0;
						}
					}
					&-btns{
						padding-left: 0;
					}
				}
			}
		}
	}
}

@include w768{
	.main{
		&-banner{
			padding-bottom: 52px;
			.mycontainer{
				display: block;
			}
			&-info{
				margin-bottom: 16px;
				width: 100%;
			}
			&-img{
				width: auto;
				height: 340px;
				padding-right: 40px;
				img{
					margin-left: auto;
					height: 100%;
				}
			}
		}
		&-filter{
			&-wrap{
				padding: 24px 16px;
			}
			&-top{
				&__title{
					font-size: 18px;
					line-height: 24px;
					max-width: 250px;
				}
			}
			&-content{
				&-input{
					width: 100%;
					margin-bottom: 16px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		&-catalog{
			&-top{
				display: block;
				&__title{
					margin-bottom: 8px;
				}
			}
		}
		&-reviews{
			&-content{
				&__quote{
					font-size: 16px;
				}
			}
		}
		&-adv{
			&-items{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 42px;
				&-item{
					svg{
						margin-bottom: 16px;
					}
				}
			}
		}
		&-articles{
			&-top{
				flex-direction: column;
				align-items: flex-start;
				&__title{
					margin-bottom: 24px;
				}
			}
		}
		&-quiz{
			&-top{
				flex-direction: column;
				align-items: flex-start;
				&-col{
					margin-bottom: 24px;
				}
			}
			&-content{
				&-col{
					&-btns{
						&__prev{
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}

@include w480{
	.main{
		&-banner{
			padding-top: 40px;
			padding-bottom: 142px;
			position: relative;
			&-info{
				margin-bottom: 58px;
				&__title{
					font-size: 32px;
					line-height: 40px;
					margin-bottom: 24px;
				}
				&__text{
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 0;
				}
				&__btn{
					position: absolute;
					left: 50%;
					bottom: 48px;
					transform: translateX(-50%);
					height: 36px;
					width: auto;
					padding: 0 24px;
				}
			}
			&-img{
				height: auto;
				padding-right: 0;
				img{
					height: auto;
				}
			}
		}
		&-filter{
			&.margin-block{
				margin-bottom: 100px;
			}
			.mycontainer{
				> img{
					bottom: -30px;
					left: -10px;
					width: 34px;
				}
			}
			&-wrap{
				&:before{
					display: none;
				}
			}
			&-top{
				display: block;
				&__title{
					margin-bottom: 16px;
				}
				&__btn{
					font-size: 13px;
				}
			}
			&-bot{
				flex-direction: column;
				align-items: center;
				&-btns{
					font-size: 14px;
					margin-bottom: 24px;
					&__more{
						margin-right: 10px;
					}
				}
				&__btn{
					height: 36px;
				}
			}
		}
		&-catalog{
			&-content{
				&-item{
					padding: 0 16px;
					&-row{
						&:first-child{
							display: block;
						}
						&.tariffs{
							display: flex;
						}
					}
					&-col{
						&:first-child{
							flex-direction: row;
							flex-wrap: wrap;
							align-items: center;
						}
						&:nth-child(2){
							padding-left: 0;
						}
					}
					&__logo{

					}
					&__rate{

					}
					&__reviews{

					}
					&-navigation{
						width: calc(100vw - 64px);
						overflow-x: scroll;
						white-space: nowrap;
					}
					&-tab{
						display: block;
						&-col{
							margin-right: 0;
						}
					}
					&-tariff{
						display: block;
						&:nth-child(4){
							display: none;
						}
						&+&{
							margin-top: 0;
						}
						&-col{
							&:last-child{
								justify-content: flex-start;
							}
						}
					}
				}
			}
		}
		&-reviews{
			padding: 40px 0 100px;
			position: relative;
			.mycontainer{
				display: block;
			}
			&-info{
				&__title{
					font-size: 31px;
					line-height: 40px;
					margin-bottom: 24px;
				}
				&__btn{
					position: absolute;
					bottom: 40px;
					left: 16px;
					height: 36px;
				}
			}
			&-content{
				padding-left: 21px;
				&__quote{
					margin-bottom: 16px;
					&:before{
						font-size: 36px;
						left: -20px;
					}
				}
				&-author{
					margin-left: -21px;
					&__img{
						width: 64px;
    				height: 64px;
					}
				}
			}
		}
		&-adv{
			&__title{
				font-size: 18px;
				line-height: 24px;
				font-weight: normal;
			}
			&-items{
				grid-gap: 40px;
				grid-template-columns: repeat(1, 1fr);
				&-item{
					svg{
						width: 96px;
						height: 96px;
					}
				}
			}
		}
		&-articles{
			&-top{
				margin-bottom: 24px;
				&__title{
					font-size: 32px;
					line-height: 40px;
					margin-bottom: 16px;
				}
				&__btn{
					height: 32px;
				}
			}
			&-items{
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 16px;
				&-item{
					&__img{
						margin-bottom: 16px;
					}
					&__text{
						font-size: 18px;
					}
				}
			}
		}
		&-quiz{
			&-top{
				margin-bottom: 24px;
				&__title{
					font-size: 32px;
    			line-height: 40px;
				}
				&__text{
					font-size: 16px;
				}
				&-col{
					margin-bottom: 16px;
				}
				&__btn{
					height: 32px;
				}
			}
			&-content{
				padding: 24px 16px;
				flex-direction: column-reverse;
				&-col{
					> img{
						max-height: 264px;
						margin-bottom: 32px;
					}
					&-step{
						&-title{
							margin-bottom: 16px;
							&__name{
								font-size: 24px;
							}
						}
						&-answers{
							label{
								font-size: 16px;
							}
						}
					}
					&-btns{
						&__prev,
						&__next{
							width: 118px;
							height: 36px;
						}
					}
				}
			}
		}
	}
}