.footer{
	> svg{
		width: 100%;
	}
	.mycontainer{
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&-col{
		&__title{
			font-weight: 500;
			margin-bottom: 8px;
			text-transform: uppercase;
		}
		&__link{
			margin-bottom: 4px;
		}
		&__all{
			font-weight: bold;
			margin-top: 12px;
			color: var(--sub-color);
			display: flex;
			align-items: center;
			&:after{
				content: '';
				display: inline-block;
				margin-left: 8px; 
				width: 16px;
				height: 8px;
				background: url('../images/arr-footer.svg') center no-repeat;
			}
		}
		&-socials{
			display: flex;
			a{
				width: 24px;
				height: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background: #FFFFFF;
				box-shadow: 0px 2px 7px rgba(3, 97, 220, 0.2);
				margin-right: 16px;
			}
		}
		&__made{
			display: flex;
			margin-top: 10px;
			a{
				margin-left: 5px;
				font-weight: bold;
				color: var(--sub-color);
			}
		}
	}
}

@include w1024{
	.footer{
		.mycontainer{
			display: block;
			padding: 24px 24px 64px;
			position: relative;
		}
		&-col{
			width: 100%;
			border-bottom: 1px solid rgba(2, 51, 82, 0.5);
			&__title{
				padding: 16px 0;
				margin-bottom: 0;
				cursor: pointer;
				position: relative;
				&:before{
					content: '';
					width: 8px;
					height: 16px;
					background: url('../images/select-arr.svg') center/contain no-repeat;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&-wrap{
				display: none;
				padding-bottom: 16px;
				&.active{
					display: block;
				}
			}
			&-socials{
				position: absolute;
				right: 24px;
				bottom: 20px;
			}
			&__made{
				position: absolute;
				bottom: 20px;
				left: 24px;
			}
		}
	}
}

@include w480{
	.footer{
		.mycontainer{
			padding: 16px 16px 64px;
		}
		&-col{
			&__made{
				left: 16px;
			}
			&-socials{
				right: 16px;
				a{
					margin-right: 12px;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
}